*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #548687;
    text-align: center;
}

.container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.main-container{
    margin-top: 2rem;
}
.main-container h1{
  font-size: 4rem;
}
.game{
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.3);
    font-size: 8vmin;
    /* color: #b0413e; */
    background-color: whitesmoke;
}
.reset{
    padding: 0.6rem;
    width: 100px;
    height: 50px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color: white;
    cursor: pointer;
}

#new-btn{
    width: 7rem;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color: white;
    cursor: pointer; 
}

#msg{
    color: whitesmoke;
    font-size: 6vmin;
}
.message-container{
    display: flex;
    flex-direction: column;
    height: 100vmin;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hide{
    display: none;
}